.cart-products-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px,auto);
    gap: 10px;
    padding: 10px;
}
.empty-cart-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
    color: #ccc;
}