.new-product-container{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 200px;
    height: 200px;
}
.loading{
    opacity: 0.5;
}
.hide{
    display: none;
}
.sizes-list{
    list-style: none;
}
.size-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    align-items: center;
    justify-items: center;
}
.size-card > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }