#prouducts-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    height: calc(100vh - 245px);
    border: 1px solid black;
}

.module-header .sub-menu-wrapper {
    display: flex;
    justify-content: space-between;
}

.module-header .add-btn {
    display: flex;
    gap: 3px;
    font-weight: bold;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

#products-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

#products-table th,
#products-table td {
    width: 100px;
    overflow-x: auto;
}

#search-field {
    border: 1px solid black;
}

#search-field:focus {
    border: none;
}

.sticky {
    position: sticky;
    left: 0;
}

.sticky-2 {
    position: sticky;
    left: 100px;

}

.product-image {
    width: 100px;
    height: auto;
}

/* @media screen and (max-width: 1400px) {
    .column-headers:nth-child(4) {
        display: none;
    }

    .column-values:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 1240px) {
    .column-headers:nth-child(12) {
        display: none;
    }

    .column-values:nth-child(12) {
        display: none;
    }
} */