.product-sizes-container{
    width: 80%;
    margin: 0 auto;
   
}
.update-size-card{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    align-items: center;
    justify-items: center;
}
.update-size-card > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }