.product-update-container{
    width: 80%;
    margin: 0 auto;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 45%;
    width: 200px;
    height: 200px;
}
.product-image{
    width: 200px;
    height: auto;
    border: 1px solid black;
}
.alert-container{
    position: fixed;
    bottom: 0;
    right: 0;
}

.loading{
    opacity: 0.5;
}
.hide{
    display: none;
}