.main-container{
    width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.menu{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.menu-element{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#0d6efd;
    gap: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 300ms ease-in-out;    
}
.pos-btn{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fd7e14;
    gap: 5px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color 300ms ease-in-out; 
}

.menu-element:hover{
    background-color: #0b5ed7;
}
.menu-element.active{
    background-color: #0142a3;
}
.pos-btn:hover{
    background-color: #bc5b0c;
}
.app-modules{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

