header{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b2028;
}
.logo{
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 300ms ease-in-out;
}
.logo:hover{
    background-color: rgb(0, 141, 134);
    cursor: pointer;
}
