#prouducts-container{
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
}
#products-table{
    border-top: 1px solid black;
}

#products-table th,
#products-table td{
    min-width: 100px;
}
#search-field{
    border: 1px solid black;
}
#search-field:focus{
    border: none;
}
.sticky{
    position: sticky;
    left: 0;
    
}
.sticky-2{
    position: sticky;
    left: 100px;

}
.product-image{
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 1400px) {
   .column-headers:nth-child(4){
    display: none;
   }
   .column-values:nth-child(4){
    display: none;
   }
}
@media screen and (max-width: 1240px) {
    .column-headers:nth-child(12){
     display: none;
    }
    .column-values:nth-child(12){
     display: none;
    }
 }