.product-update-container{
    width: 80%;
    margin: 0 auto;
}
.product-image{
    width: 200px;
    height: auto;
    border: 1px solid black;
}
.alert-container{
    position: fixed;
    bottom: 0;
    right: 0;
}