.dashboard-card{
    
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 6px 5px 13px -1px rgba(189,189,189,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.info-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: center;

}
.info-wrapper .value{
    font-weight: bold;
    font-size: 2rem;
    color: #5B84FA;

}
.info-wrapper .description{
    font-weight: 400;
    font-size: 1.2rem;
    color: #777575;

}
.icon-section i{
    font-size: 4rem;
    color: #777575;
}
